body {
    background: #5D4157;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A8CABA, #5D4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.form-container {
    background-color: #fff;
    box-shadow: 2px 1px 14px -1px rgba(0,0,0,0.62);
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
}

.register-container :first-child {
    font-size: 100px;
    color: #78C1F3;
}

.register-container :nth-child(2) {
    color: #78C1F3;
    font-size: 34px;
    font-weight: bolder
}

.register-inp {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.register-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

}

.register-btn :first-child {
    width: 250px;
    height: 40px;
}